language: python
dist: bionic

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

cache: pip

git:
  depth: false

branches:
  only:
    - master
    - 0
    - 1

addons:
  sonarcloud:
    organization: clarkperkins
    token:
      secure: "thxDw6g+PgwiWrCQ4pgStlU3wbT+Bn06kEHd3DMo1ck5pL+nj9EVwihJp6ToJ7LMV74HjB4Y0A5DREHzS1Uoq8VPWzUXyAAcIXzWxX/GFSDDTJeLqlIE4Z3JBhpMc0bmAkXh6/9vGCQHsNTIi5SpPaw8fs+Fd7jUOAnHsLzTwCU/1G45BHwz/aB7uxhA1XdB4rbGWKBtbxLppH9B7tH2lH1QXriB34BnzoOrcL8xbX231ss3cIINcDq+d13+WWUtR5NynT0g0lUYPXp52202O0Q4xSqpEQ/HCDfcjrBHsn1qguijjbv8pEaa4zpW87nw06VbFVfbY33j4v0AUr57b/K/QBcpI4rRnFk/PAcmkbIDi1luJ0UnhYnhdlFbltbe0qfEO2ZuBc3MGzBpf7lH2UbUfsvNx3AC0/GFaZbVsjluNh+1AZO5vcgGeMPVnS0751/OYhMByp0PpFUlkIQg2vgDAfaF4i/y1h1HF3p1Jvrx7U9BD45ep412LMEeFLGKZ2fqO70Z+xaiIGwyKJjhIMaLDxrSVe4+IshnK4iBltsl4P5vKv0a4REuQed/hhU2YaVX8csz+H4WGq+9+IuN2O3E4shmjzZYAhJj2oYcjv0MXSNpvRBZb0+jr6C1HDEjycPmMcWEj2ByjKYz8HWoDiFVd75ej6WTBUCNt9RyGAg="

install:
  - ./install.sh

script:
  - ./build.sh


# Only build artifacts on success
after_success:
  - python setup.py sdist
  - python setup.py bdist_wheel

deploy:
  - provider: releases
    api_key:
      secure: CPOVfiuKMNClH0OkygeHeUCFq8SjmT3hxX9z9HM31SnIXSKtmCNo3j5ytOVDPjpx7oeD5mmVKC+pMjBoIfSDvmqwjZShi/ndKxajcj2SeyyL1CPnfRUI+I3l3uqfScLon2e4Ydo/w7c/o5XHuETsZoXMlmmG8EjecrOzzvp9fSOpCFCm4yqjXTs3s+1S5XVREZHsoEgZ2WmjV4RMMAn/ZET7R7GJrmC/uR5XTeONSd+Ue9wva3A3LZZR3kV9ox6j8wI2CmasAa1w8C1uImMEfhhxZVqcKwWY5cRIhwBASlWiyKEbmXKLCKWy03mBHSQIM+jBl2qEJvr0MKXgbyYYxr2GRFp1n7fYczuiQjgtYDDEMuQvjONYG+4yJ5ea0ojgCPN43o0N4+B0Ym8HglbrNSZx3zkMpQs3ZmprCljMJsBeDFe8dm/mOd6FQ7hGFM3dGdRL6WtxgoymTYqm0Fm+9ShrnJUVnnbfb6pGjRB+DNlJyqfXitlJQteaaM7WMba83oMkzlFFF5ciX8n1zoaUpMb/jccrrHiiOff26xiP3nlAzXgN2GKRYhVSV74NMAFbb9MB/qdJNbnuyQcG6fvhgQJ/r5jR7bwPE4GoyWbY4QmLB7VZwtqz8HM0BTDvtYFvX3nea4Ewphz2vVVE6WgA9yw5DVMjtY1O74dFBijnGvc=
    file:
      - dist/click-shell-${TRAVIS_TAG}.tar.gz
      - dist/click_shell-${TRAVIS_TAG}-py2.py3-none-any.whl
    on:
      tags: true
      python: '2.7'
      repo: clarkperkins/click-shell

  # Upload to pypi.  Do this instead of the pypi provider so that we
  # ensure the exact same artifact is uploaded to github and pypi.
  # The pypi provider will re-build the 2 artifacts, which is not ideal.
  # This requires setting TWINE_USERNAME and TWINE_PASSWORD in travis.
  - provider: script
    script: twine upload dist/click-shell-${TRAVIS_TAG}.tar.gz dist/click_shell-${TRAVIS_TAG}-py2.py3-none-any.whl
    skip_cleanup: true
    on:
      tags: true
      repo: clarkperkins/click-shell
      python: "2.7"
