[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click-shell = {editable = true,path = "."}

[dev-packages]
mypy = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
